.navbarBox {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  position: sticky;
  top: 0;
  /* background-color: #141414; */
  padding: 8px;
}

.navbarBox ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  margin: 10px 0;
}

.navbarBox li {
  padding: 8px;
  margin: 0 15px;
}
