.workMainBox {
  width: 100%;
  /* border: 1px solid purple; */
  /* padding: 8px; */
  margin: 30px 0;
}

.headingBox {
  /* border: 2px solid lime; */
  margin: 10px 0;
  color: white;
  padding: 8px 50px;
}

.workBox {
  width: 100%;
  margin: 10px 0;
  /* border: 1px solid blue; */
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box !important;
  transition: all 0.2s ease;
}

.cardBox {
  max-width: 350px;
  /* min-width: 300px; */
  height: 250px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  color: white;
  background-color: #89715b;
  border-radius: 8px 8px 0 0;
  position: relative;
}
.colProd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease;
}
.cardBox img {
  border-radius: 8px 8px 0 0;
  width: 100%;
  height: 100%;
}

.cardBox h5 {
  padding: 8px;
  font-weight: bold;
}
.hideBox {
  width: 100%;
  border-radius: 8px 8px 0 0;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: rgba(137, 113, 91, 1);
  position: absolute;
  /* top: -40px; */
  opacity: 0;
  transition: all 0.6s ease;
  visibility: collapse;
  transform: rotateY(90deg);
}
/* .hideBox:nth-child(even) {
  transform: rotateX(90deg);
}
.hideBox:nth-child(even) {
  transform: rotateY(90deg);
  background-color: red;
} */
.cardBox:hover .hideBox {
  top: 0px;
  visibility: visible;
  opacity: 1;
  transform: rotateY(0deg);
}

.hideBox a {
  padding: 8px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: var(--primaryColor);
  width: 120px;
  text-align: center;
}
a:hover {
  color: white !important;
}
.workOption {
  width: 100%;
  /* border: 1px solid red; */
  list-style: none;
  display: flex;
  padding: 0 40px;
}
.workOption button {
  padding: 8px;
  color: white;
  border-radius: 5px;
  border: none;
  background-color: var(--secondaryColor);
  width: 120px;
  margin: 10px;
}
